<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>John Allen Hopper</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|VT323" rel="stylesheet"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div class="container">
    <div class="row">
 

    
       <h1><strong>John Allen Hopper</strong></h1>
    </div>

     <div class="link-row">
    <div class="col-lg-12">
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact/Request</a></li>
      </ul>
      
    </div>
    </div> 

<div class="project-section">

<div class="col-lg-12">



  <h4>Under Construction</h4>
  <br>
  <p class="lead"><strong>Projects</strong></p>
        <ul>
        <li><a href="https://github.com/jahopp23/image_portal2">Image Portal - artistic image sharing/social [Rails5, Paperclip, Bootstrap]</a></li>
        <li><a href="https://supergroups.herokuapp.com"><strong><em>live</em></strong>Coding Dojo Rails BlackBelt Exam / Community Group System [Rails5, Bcrypt, Bootstrap]</li>
         <li><a href="https://github.com/jahopp23/user_management_system">User Management [Rails5, Bootstrap]</a></li>
         <li><a href="https://github.com/jahopp23/product_dashboard">Product Management [Rails5, Bootstrap]</a></li>
         
        </ul>

        <p class="lead"><strong>Certifications</strong></p>

        <ul>
        <li>Web Fundamentals Yellow Belt - Coding Dojo highest qualification for HTML and CSS.</li>
        <li>Ruby on Rails Black Belt - Coding Dojo highest qualification for Ruby on Rails</li>
        </ul>


  </div>
</div>


    <div class="pic-row">
      <div class="col-lg-12">

    
   
      </div>
    </div>

    <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; John Allen Hopper 2017</p>
                    <p>Webmaster & Designer <a href="johnallenhopper.herokuapp.com">John A. Hopper</a></p>
                </div>
            </div>
        </footer>

  </div>
</body>
</html>